.modal {
    position: fixed;
    background-color: white;
    display: block;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    border: 3px lightgrey solid;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px black;
    transition: transform 0.3s ease-out;
}