.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    margin: 0;
    float: left;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 40%; -> 2 signup columns of width 40% = 80%*/
    width: 40%;
    float: left;
    height: 100%;
    flex-flow: column;
}

.signup input,
.signup label {
    font-size: large;
}

.signup label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup input {
    padding: 1rem;
    margin: 1rem;   
    border-radius: 5px;
    border: 2px gray solid;
    width: 70%;
}

.signup h4 {
    margin: 0.5rem 2rem;
}

.submit {
    font-size: large;
    margin: 1rem;   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10%;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0 !important;
}