.Button {
    height: 100%;
}

.Button button {
    height: 100%;
    padding: 0;
    background: none;
    border: none;
    appearance: none;
    margin: 0 1rem;
}

.Button button:hover {
    cursor: pointer;
}

.Button img {
    height: 100%;
    padding: 0.5rem;
    background-color: white;
    box-sizing: border-box;
    border-radius: 2rem;
}